@model Papeleria.LogicaAplicacion.DTO.DTOS.Pedido.DtoPedidoCompleto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>
<partial name="_Mensajes" />
<div>
    <h4>Datos Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
@if(Model.Lineas != null && Model.Lineas.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lineas.First().ArticuloId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineas.First().ArticuloNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineas.First().Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineas.First().Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineas.First().PrecioVigente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lineas.First().Costo)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var lineaDto in Model.Lineas)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => lineaDto.ArticuloId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => lineaDto.ArticuloNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => lineaDto.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => lineaDto.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => lineaDto.PrecioVigente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => lineaDto.Costo)
                    </td>
                </tr>
            }
          
    </tbody>
 </table>
}


<div>
    <a asp-action="Index">Vuelta hacia la lista</a>
</div>
